.parent {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: beige;
    margin: 5px;
}

.monster {
    background-image: url("../img/goblin.png");
    background-size: 100px 100px;
}